/* 

body{
    background: url('./images/sad.jpeg') no-repeat center center / cover;
    
}

.navigation ul{
    display: flex;
    list-style-type: none;
     

}
.navigation li{
    padding-right: 20px;
}
.navigation a{
    text-decoration: none;
} */
body{
    background: url(./images/dad.jpeg) no-repeat center center / cover;
}
.kirish-div{
    padding-top: 30px;
    margin:auto;
    text-align: center;
    box-shadow: 0px -5px 10px gray;
    background: url(./images/sad.jpeg) no-repeat center center / cover;
    width: 600px;
    height: 400px;
    border-radius: 25px;
    border: 2px dashed coral;
}
a, b{
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: coral;
    font-weight: 700;
    
}
button{
    background-color: cornflowerblue;
    border: 2px solid red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
}
h4{
    color: red;
}